.App{
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
}
.AppHeader {
    height: 60px;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
  }
.MainMenu{
    height: 60px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    box-shadow: 1px 4px 4px #00000033;
}
.MainMenuHorizontal{
    font-weight: bold;
    border: unset;

}
.PageContent{
    display: flex;
    flex:3;
    overflow-y:auto;
    margin-top: 3px;
    margin-bottom: 3px;
    padding:10px;
}
.AppFooter{
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 1px -4px 4px #00000033;

}
.itemCartImage{
    height: 150px !important;
    object-fit: scale-down;
}
.itemCard,.itemCardBadge{
    margin: 10px;
}
.shoppingCartIcon{
    font-size: 30px;
    margin-right: 20px;
    cursor: pointer;
}
.productsContainer{
    padding: 8px;

}
.cartDrawer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content:space-between;
    align-items: center;
    padding: 10px;
}
.menuItem,.subMenu{
    font-size: 1rem;
    font-weight: bold;

}
@media screen and (max-width: 768px) {
    .menuItem{
        font-size: 0.8rem;
        font-weight: bold;
    }
    .subMenu{
        width: 80px;
        font-size: 0.8rem;
        font-weight: bold;
    }
    .ant-table table {
        font-size: 0.8rem; 
      }
    
      .ant-table-thead th,
      .ant-table-tbody td {
        padding: 6px; 
      }
      .quantity-input{
        width:fit-content;
      }
    }
    
  